<div style="padding-top:50px;margin-bottom: 8%" *ngIf="reviewForm">
  <h2 *ngIf="new_review else edit" class="text-lg-center">  Submit new Review to Product with id {{ productid }}</h2>
  <div class="container">
    <div class="form-group" style="width: 25%">
      <label class="form-check-label"  >Rating Given: </label>
      <input  class="form-control"  [(ngModel)]="reviewForm.rating">
    </div>
    <div class="form-group">
      <label class="form-check-label"  > Review Content: </label>
      <textarea style="width: 50%" class="form-control" [(ngModel)]="reviewForm.body">
      </textarea>
    </div>
    <button type="button" (click)="submitReview()" class="site-btn">Add Review</button>

  </div>
</div>
<ng-template #edit>
  <h2 class="text-center">  Edit Review to Product with id {{ productid }}</h2>
</ng-template>

