<a  (click)="open(modal)"   class="site-btn" style="float: right; margin-bottom: 25px; color: white" > Add Product</a>



<!--  Modal -->
<ng-template  #modal let-modal>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create new Product</h4>
        <button type="button" class="close"  (click)="modal.dismiss('Cross click')" >&times;</button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="creationForm" *ngIf=" products && categories && developers" (ngSubmit)="addProduct()" >
        <div class="modal-body">

          <div class="form-group">
            <label>Name</label>
            <input #name type="text" [(ngModel)]="newproduct.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"/>
            <div *ngIf=" !submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.name.errors.required">Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Icon</label>
            <input #icon type="text" [(ngModel)]="newproduct.icon" formControlName="icon" class="form-control" [ngClass]="{ 'is-invalid': f.icon.errors }"/>
            <div *ngIf=" !submitted && f.icon.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.icon.errors.required">Icon is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input #description type="text" [(ngModel)]="newproduct.description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f.description.errors }"/>
            <div *ngIf=" !submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.description.errors.required">Description is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Category</label>
            <select multiple #category [compareWith]="compareFn" formControlName="category" class="form-control" [(ngModel)]="newproduct.category" [ngClass]="{ 'is-invalid': f.category.errors }">
              <option *ngFor="let c of categories" [ngValue]="c">{{c.title}}</option>
            </select>
            <div *ngIf=" !submitted && f.category.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.category.errors.required">Category is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Developer</label>
            <select #developer [compareWith]="compareFn" formControlName="developer" class="form-control" [(ngModel)]="newproduct.developer" [ngClass]="{ 'is-invalid': f.developer.errors }">
              <option *ngFor="let d of developers" [ngValue]="d">{{d.name}}</option>
            </select>
            <div *ngIf=" !submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.developer.errors.required">Developer is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input #price type="number" [(ngModel)]="newproduct.price" step=".01" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': f.price.errors }"/>
            <div *ngIf=" !submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf=" !submitted && f.price.errors.required">Price is required</div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button  type="submit" [disabled]="loading
      || f.name.errors || f.icon.errors || f.description.errors || f.price.errors
      || f.category.errors || f.developer.errors" (click)="modal.close('Save click')"  class="btn btn-outline-dark">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save Product</button>
        </div>
      </form>

</ng-template>
