<ng-container *ngIf="clients.length > 0; else noUsers">
  <div class="flex-row justify-content-between">
    <table class="table" width="100%" align="center">
      <thead  style="background-color: black; border: 0; color: white;">
      <tr>
        <th scope="col" style="width: 20%">Name</th>
        <th scope="col" style="width: 25%">Email</th>
        <th scope="col" style="width: 25%">Joined at</th>
        <th scope="col" style="width: 10%">Balance</th>
        <th scope="col" style="width: 20%">Add Balance</th>
      </tr>
      </thead>

      <ng-container *ngFor="let client of clients| paginate: { itemsPerPage: 6, currentPage: p}">
        <tbody>
        <tr>
          <td>{{ client.user.first_name }} {{ client.user.last_name }}</td>
          <td>{{ client.user.email }}</td>
          <td>{{ client.created_at | date:'medium' }}</td>
          <td>{{ client.balance }}€</td>
          <td align="center"><a style="color: white" class="site-btn" (click)="open(client, modal)">Add balance</a></td>
        </tr>
        </tbody>
      </ng-container>
    </table>

    <div class="col-lg-12" style="margin-top: auto;margin-bottom: 25px; display: flex; justify-content: center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>

<ng-template #noUsers>
  <h4 class="text-center"> There are no Users! </h4>
</ng-template>


<ng-template  #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Balance</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="updateForm" *ngIf="selectedClient" (ngSubmit)="addBalance()">
  <div class="modal-body">

      <div class="form-group">
        <label >Balance</label>
        <input #balance type="number" [(ngModel)]="selectedClient.balance" step=".01" formControlName="balance" class="form-control" [ngClass]="{ 'is-invalid': f.balance.errors }"/>
        <div *ngIf="f.balance.errors" class="invalid-feedback">
          <div *ngIf="f.balance.errors.required">Balance is required</div>
        </div>
      </div>


  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="loading || f.balance.errors" class="btn btn-outline-dark" (click)="modal.close('Save click'); ">Save Balance</button>
  </div>
  </form>
</ng-template>
