
<head>
  <link rel="stylesheet" href="/assets/css/clientdetails.css">
</head>

<ng-container *ngIf="client">

  <div class="container light-style flex-grow-1 container-p-y" style="max-width: 1500px">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>

    <div class="card overflow-hidden" style="margin-bottom: 50px">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-2 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'general' ? 'active' : ''" (click)="showCard('general')">General</a>
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'pw' ? 'active' : ''" (click)="showCard('pw')">Change password</a>
            <a *ngIf="!client.user.is_superuser" class="list-group-item list-group-item-action" [ngClass]=" card == 'favs' ? 'active' : ''" (click)="showCard('favs')">Favourites</a>
            <a *ngIf="!client.user.is_superuser" class="list-group-item list-group-item-action" [ngClass]=" card == 'apps' ? 'active' : ''" (click)="showCard('apps')">My Apps</a>
            <a *ngIf="!client.user.is_superuser" class="list-group-item list-group-item-action" [ngClass]=" card == 'revs' ? 'active' : ''" (click)="showCard('revs')">My Reviews</a>
            <a *ngIf="client.user.is_superuser" class="list-group-item list-group-item-action" routerLink="/admin">Admin</a>
          </div>
        </div>
        <div class="col-md-10">
            <app-clientgen *ngIf="card == 'general'" ></app-clientgen>
            <app-clientpw *ngIf="card == 'pw'"></app-clientpw>
            <app-clientfavs *ngIf="card == 'favs'" [client]="client"></app-clientfavs>
            <app-clientapps *ngIf="card == 'apps'" [client]="client"></app-clientapps>
            <app-clientrevs *ngIf="card == 'revs'" [client]="client"></app-clientrevs>
        </div>

      </div>
    </div>
  </div>
</ng-container>
