<h1>{{products.length}}</h1>
<ng-container *ngIf="products.length > 0; else noApps">
  <div class="flex-row justify-content-between">
    <app-adminaddapp [categories]="categories" [products]="products" [developers]="developers"></app-adminaddapp>
    <table class="table" width="100%" align="center">
      <thead  style="background-color: black; border: 0; color: white;">
      <tr>
        <th scope="col" style="width: 20%">Icon</th>
        <th scope="col" style="width: 20%">Name</th>
        <th scope="col" style="width: 20%">Category</th>
        <th scope="col" style="width: 20%">Developer</th>
        <th scope="col" style="width: 20%">Edit</th>
      </tr>
      </thead>

      <ng-container *ngFor="let product of products| paginate: { itemsPerPage: 6, currentPage: p}">
        <tbody>
        <tr>
          <td scope="row"><div class="product__item__pic set-bg" style="width:50px; height:50px;"><img src="{{ product.icon }}" /></div></td>
          <td>{{ product.name }}</td>
          <td>
            <ng-container *ngFor="let category of product.category">
              {{ category.title  }}
            </ng-container>
          </td>
          <td>{{ product.developer.name }}</td>
          <td><a style="text-align: center; color: white" (click)="open(product, modal)" class="site-btn">Edit</a></td>
        </tr>
        </tbody>
      </ng-container>
    </table>

    <div class="col-lg-12" style="margin-top: auto;margin-bottom: 25px; display: flex; justify-content: center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>

<ng-template #noApps>
  <h4 class="text-center"> There are no Applications! </h4>
</ng-template>

<ng-template  #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="updateForm" *ngIf="selectedProduct && categories && developers" (ngSubmit)="editProduct()">
    <div class="modal-body">

      <div class="form-group">
        <label>Name</label>
        <input #name type="text" [(ngModel)]="selectedProduct.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"/>
        <div *ngIf="f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Icon</label>
        <input #icon type="url" [(ngModel)]="selectedProduct.icon" formControlName="icon" class="form-control" [ngClass]="{ 'is-invalid': f.icon.errors }"/>
        <div *ngIf="f.icon.errors" class="invalid-feedback">
          <div *ngIf="f.icon.errors.required">Icon is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input #description type="text" [(ngModel)]="selectedProduct.description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': f.description.errors }"/>
        <div *ngIf="f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Category</label>
        <select multiple #category [compareWith]="compareFn" formControlName="category" class="form-control" [(ngModel)]="selectedProduct.category" [ngClass]="{ 'is-invalid': f.category.errors }">
          <option *ngFor="let c of categories" [ngValue]="c">{{c.title}}</option>
        </select>
        <div *ngIf="f.category.errors" class="invalid-feedback">
          <div *ngIf="f.category.errors.required">Category is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Developer</label>
        <select #developer [compareWith]="compareFn" formControlName="developer" class="form-control" [(ngModel)]="selectedProduct.developer" [ngClass]="{ 'is-invalid': f.developer.errors }">
          <option *ngFor="let d of developers" [ngValue]="d">{{d.name}}</option>
        </select>
        <div *ngIf="f.developer.errors" class="invalid-feedback">
          <div *ngIf="f.developer.errors.required">Developer is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input #price type="number" [(ngModel)]="selectedProduct.price" step=".01" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': f.price.errors }"/>
        <div *ngIf="f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">Price is required</div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="loading
      || f.name.errors || f.icon.errors || f.description.errors || f.price.errors
      || f.category.errors || f.developer.errors" class="btn btn-outline-dark" (click)="modal.close('Save click'); ">Save Product</button>
    </div>
  </form>
</ng-template>

