<div class="product__details__tab__content__item">
  <h2 align="center" style="margin-bottom: 30px;"><span>Developer details</span></h2>
  <div class="container" style="margin-bottom: 50px;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" style="margin-right: 50px;"/>
          </div>
          <div class="col-md-10">
            <h3 style="margin-bottom: 30px;" class="float-left" ><strong> {{ developer.name }}</strong></h3>
            <div class="clearfix"></div>
            <div class="col-md-2" style="display: inline-block;">
              <strong>Email </strong>
            </div>
            <div class="col-md-10" style="display: inline-block;">
              <span>{{ developer.email }}</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2" style="display: inline-block;">
              <strong>Address </strong>
            </div>
            <div class="col-md-10" style="display: inline-block;">
              <span>{{ developer.address }}</span>
            </div>
          </div>
        </div>
        <a style="float: right;"  href="" routerLink="../.." class="primary-btn">Go back</a>
      </div>
    </div>
  </div>
</div>
