<div class="row d-flex justify-content-center" style="height:100%; margin-top: 25px;margin-left: 0; margin-right: 0">
  <div class="d-flex justify-content-center col-md-8">

    <form action="." method="post" style="width: 100%">

      <h4 style="text-align: center">Sign Up to a local account</h4>
      <hr />
      <div class="d-flex flex-column align-items-center">



        <div class="row"><span style="width: 200px; text-align: left; margin-right: 15px"></span><div></div></div>

        <!--

        <p style="color: red">{{ error }}</p>

        -->
        <div class="form-group" style="margin-top: 45px">
          <div class="d-flex justify-content-center">
            <input
              type="submit"
              value="Sign Up"
              class="primary-btn"
            />
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
