<ng-container *ngIf="developers.length > 0; else noDevs">
  <div class="flex-row justify-content-between">
   <!-- <app-adminaddapp [categories]="categories" [products]="products" [developers]="developers"></app-adminaddapp> -->
    <table class="table" width="100%" align="center">
      <thead  style="background-color: black; border: 0; color: white;">
      <tr>
        <th scope="col" style="width: 20%">Name</th>
        <th scope="col" style="width: 20%">Address</th>
        <th scope="col" style="width: 20%">Email</th>
        <th scope="col" style="width: 20%">Creation Date</th>
        <th scope="col" style="width: 20%">Edit</th>
      </tr>
      </thead>

      <ng-container *ngFor="let dev of developers| paginate: { itemsPerPage: 6, currentPage: p}">
        <tbody>
        <tr>
          <td>{{ dev.name }}</td>
          <td>
            {{dev.address}}
          </td>
          <td>{{ dev.email }}</td>
          <td>{{ dev.created_at | date:'medium' }}</td>
          <td><a style="text-align: center; color: white" (click)="open(dev, modal)" class="site-btn">Edit</a></td>
        </tr>
        </tbody>
      </ng-container>
    </table>

    <div class="col-lg-12" style="margin-top: auto;margin-bottom: 25px; display: flex; justify-content: center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>

<ng-template #noDevs>
  <h4 class="text-center"> There are no Developers! </h4>
</ng-template>

<ng-template  #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="updateForm" *ngIf="selectedDev" (ngSubmit)="editDeveloper()">
    <div class="modal-body">

      <div class="form-group">
        <label>Name</label>
        <input #name type="text" [(ngModel)]="selectedDev.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"/>
        <div *ngIf="f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Address</label>
        <input #address type="text" [(ngModel)]="selectedDev.address" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': f.address.errors }"/>
        <div *ngIf="f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input #email type="email" [(ngModel)]="selectedDev.email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }"/>
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="loading || f.name.errors || f.address.errors || f.email.errors" class="btn btn-outline-dark" (click)="modal.close('Save click'); ">Save Developer</button>
    </div>
  </form>
</ng-template>


