
<!-- Header Section Begin -->
<header class="hasDisplay">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3 d-flex justify-content-end">
              <div class="header__logo">
                  <a routerLink=""
                      ><img src="../../../assets/img/logo.png" height="45px" alt=""
                  /></a>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                      <li id="home" [ngClass]="{'active': rlh.isActive}">
                          <a routerLink="/" routerLinkActive="active" #rlh="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">Home</a>
                      </li>

                      <li id="shop" [ngClass]="{'active': rls.isActive}"><a routerLink="/shop" routerLinkActive="active" #rls="routerLinkActive">Shop</a></li>

                      <li [ngClass]="{'active': rla.isActive}"><a routerLink="/about_us" routerLinkActive="active" #rla="routerLinkActive">About Us</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="header__nav__option" style="display: flex;">

                <ng-container *ngIf="client;else notLoggedIn">
                    <a style="font-size: 18px; color: #111111; font-weight: 600" routerLink="account">{{ client.user.username }} ({{ client.balance }}€)</a>
                  <a style="font-size: 18px; color: #111111; font-weight: 600" (click)="logout()">Logout</a>
                </ng-container>

                <ng-template #notLoggedIn>

                <a
                  style="font-size: 18px; color: #111111; font-weight: 600"
                  routerLink="login"
                >Login</a
                >
                <a
                  style="font-size: 18px; color: #111111; font-weight: 600"
                 routerLink="sign_up"
                >Sign Up</a
                >
                </ng-template>
              </div>
          </div>





      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->
