<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <input
              [(ngModel)]="search"
              id="search"
              placeholder="Search..."
              (keyup)="getProducts()"
              type="text"
            />
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseOne" data-toggle="collapse"
                    >Categories</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseOne"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <a *ngFor="let category of categories">
                          <li>
                            <a class="shop" [ngStyle]=" categoryId === category.id ? {'color': '#111111'} : {}" (click)="selectCategory(category)" >{{ category.title }}</a>
                          </li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseTwo" data-toggle="collapse"
                    >Developer</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseTwo"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        <a *ngFor="let developer of developers">
                          <li>
                            <a class="shop" [ngStyle]=" developerId === developer.id ? {'color': '#111111'} : {}" (click)="selectDeveloper(developer)">{{ developer.name }}</a>
                          </li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseThree" data-toggle="collapse"
                    >Filter Price</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseThree"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul>
                        <li>
                          <a class="shop" [ngStyle]=" maxPrice === 10 ? {'color': '#111111'} : {}" (click)="selectPrices(0, 10);">0€ - 10€</a>
                        </li>
                        <li>
                          <a class="shop" [ngStyle]=" minPrice === 10 && maxPrice === 25 ? {'color': '#111111'} : {}" (click)="selectPrices(10, 25)">10€ - 25€</a>
                        </li>
                        <li>
                          <a class="shop" [ngStyle]=" minPrice === 25 && maxPrice === 50 ? {'color': '#111111'} : {}" (click)="selectPrices(25, 50)">25€ - 50€</a>
                        </li>
                        <li>
                          <a class="shop" [ngStyle]=" minPrice === 50 && maxPrice === 100 ? {'color': '#111111'} : {}" (click)="selectPrices(50, 100)">50€ - 100€</a>
                        </li>
                        <li>
                          <a class="shop" [ngStyle]=" minPrice === 100 && maxPrice === 200 ? {'color': '#111111'} : {}" (click)="selectPrices(100, 200)">100€ - 200€</a>
                        </li>
                        <li>
                          <a class="shop" [ngStyle]=" minPrice === 250 ? {'color': '#111111'} : {}" (click)="selectPrices(250)">250€ +</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseFour" data-toggle="collapse"
                    >Rating</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseFour"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__size">
                      <label [className]=" rating === 1 ? 'active' : ''" (click)="selectRate(1)" for="xs"
                        >⭐️
                      </label>
                      <label [className]=" rating === 2 ? 'active' : ''" (click)="selectRate(2)" for="sm"
                        >⭐️⭐️
                      </label>
                      <label [className]=" rating === 3 ? 'active' : ''" (click)="selectRate(3)" for="md"
                        >⭐️⭐️⭐️
                      </label>
                      <label [className]=" rating === 4 ? 'active' : ''" (click)="selectRate(4)" for="xl"
                        >⭐️⭐️⭐️⭐️
                      </label>
                      <label [className]=" rating === 5 ? 'active' : ''" (click)="selectRate(5)" for="2xl"
                        >⭐️⭐️⭐️⭐️⭐️
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">

      <ng-container *ngIf="products.length>0; else noprod">



          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing {{p}}–{{math.ceil(products.length/12)}} of {{products.length}} results</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                  <p style="margin-right: 15px">Sort by:</p>
                  <select [(ngModel)]="order" (ngModelChange)="getProducts()">
                    <option [selected]="order === 'cost'"  value="cost">Price Low To High</option>

                    <option [selected]="order === '-cost'" value="-cost">Price High to Low</option>

                    <option [selected]="order === 'rate'" value="rate">Rating Low To High</option>

                    <option [selected]="order === '-rate'" value="-rate">Rating High to Low</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="groups row">
                <div
                  *ngFor="let product of products| paginate: { itemsPerPage: 12, currentPage: p}"
                  class="col-lg-4 col-md-6 col-sm-6 product"
                  style="display: inline-block"
                  routerLink="product/{{product.id}}"
                >
                  <div class="product__item sale">
                    <div class="product__item__pic set-bg">
                      <img src="{{ product.icon }}" />
                    </div>
                    <div class="product__item__text">
                      <h6>{{ product.name }}</h6>
                      <a class="add-cart">{{
                        product.description | slice: 0:3
                      }}</a>
                      <div class="rating">
                          <i
                            *ngFor="let x of [].constructor(product.stars)"
                            class="fa fa-star"
                          ></i>
                          <i
                            *ngFor="let x of [].constructor(5 - product.stars)"
                            class="fa fa-star-o"
                          ></i>
                      </div>
                      <h5>{{ product.price }} €</h5>
                    </div>
                  </div>
                </div>
          </div>

            <div class="row">
              <div class="col-lg-12" style="display: flex; justify-content: center">

                  <pagination-controls (pageChange)="p = $event"></pagination-controls>

              </div>
            </div>



      </ng-container>


      <ng-template #noprod>


          <div class="product__details__text">
            <h3>There are no products</h3>
          </div>



      </ng-template>
      </div>


      <!-- Shop Section End -->
    </div>
  </div>
</section>
