<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">

              <input [(ngModel)]="search" id="search" placeholder="Search..." (keyup)="getProducts()" type="text" />


          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseOne" data-toggle="collapse"
                    >Categories</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseOne"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <a *ngFor="let category of categories">
                          <li>
                            <a>{{ category.title }}</a>
                          </li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseTwo" data-toggle="collapse"
                    >Developer</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseTwo"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        <a *ngFor="let developer of developers">
                          <li>
                            <a>{{ developer.name }}</a>
                          </li>
                        </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseThree" data-toggle="collapse"
                    >Filter Price</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseThree"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul>
                        <li>
                          <a>0€ - 10€</a>
                        </li>
                        <li>
                          <a>10€ - 25€</a>
                        </li>
                        <li>
                          <a>25€ - 50€</a>
                        </li>
                        <li>
                          <a>50€ - 100€</a>
                        </li>
                        <li>
                          <a>100€ - 200€</a>
                        </li>
                        <li>
                          <a>250€ +</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-target="#collapseFour" data-toggle="collapse"
                    >Rating</a
                  >
                </div>
                <div
                  class="collapse show"
                  data-parent="#accordionExample"
                  id="collapseFour"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__size">
                      <label class="active" for="xs"
                        >⭐️
                        <input id="1*" type="radio" />
                      </label>
                      <label class="active" for="sm"
                        >⭐️⭐️
                        <input id="2*" type="radio" />
                      </label>
                      <label class="active" for="md"
                        >⭐️⭐️⭐️
                        <input id="3*" type="radio" />
                      </label>
                      <label class="active" for="xl"
                        >⭐️⭐️⭐️⭐️
                        <input id="4*" type="radio" />
                      </label>
                      <label class="active" for="2xl"
                        >⭐️⭐️⭐️⭐️⭐️
                        <input id="5*" type="radio" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>safdas</p>

      <ng-template *ngIf="products.length>0; else noProduct">
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing x–xx of xxx results</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                  <p>Sort by:</p>
                  <select>
                    <option selected value="0">Price Low To High</option>

                    <option value="1">Price High to Low</option>

                    <option value="2">Rating Low To High</option>

                    <option value="3">Rating High to Low</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="groups row">
            <div>
              <div
                *ngFor="let product of products"
                class="col-lg-4 col-md-6 col-sm-6 product"
                style="display: inline-block"
              >
                <div class="product__item sale">
                  <div class="product__item__pic set-bg">
                    <img src="{{ product.icon }}" />
                  </div>

                  <p>{{ product.name }}</p>

                  <div class="product__item__text">
                    <h6>{{ product.name }}</h6>
                    <a class="add-cart">{{
                      product.description | slice: 0:3
                    }}</a>
                    <div class="rating">
                      <div
                        style="
                          display: flex;
                          flex-wrap: wrap;
                          justify-content: space-between;
                          width: 65px;
                        "
                      >
                        <i
                          *ngFor="let x of [].constructor(product.stars)"
                          class="fa fa-star"
                        ></i>
                        <i
                          *ngFor="let x of [].constructor(5 - product.stars)"
                          class="fa fa-star-o"
                        ></i>
                      </div>
                    </div>
                    <h5>{{ product.price }} €</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="product__pagination">
                  <!--
                {% if page.has_previous %}
                <a href="javascript:insertParam({'page':{{ page.previous_page_number }}})">{{ page.previous_page_number }}</a>
                {% endif %}
                <a class="active" href="">{{ page.number }}</a>
                {% if page.has_next %}
                <a href="javascript:insertParam({'page':{{ page.next_page_number }} })">{{ page.next_page_number }}</a>
                {% endif %}
                --></div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #noProduct>

        <div class="col-lg-9">
          <div class="product__details__text">
            <h3>There are no products</h3>
          </div>
        </div>


      </ng-template>

      <!-- Shop Section End -->
    </div>
  </div>
</section>
