
<head>
  <link rel="stylesheet" href="/assets/css/clientdetails.css">
</head>
<ng-container *ngIf="client && client.user.is_superuser">

  <div class="container light-style flex-grow-1 container-p-y" style="max-width: 1500px">

    <h4 class="font-weight-bold py-3 mb-4">
      Admin settings
    </h4>


    <div class="card overflow-hidden" style="margin-bottom: 50px">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'purchases' ? 'active' : ''" (click)="showCard('purchases')">Purchases</a>
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'users' ? 'active' : ''" (click)="showCard('users')">Users</a>
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'apps' ? 'active' : ''" (click)="showCard('apps')">Applications</a>
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'devs' ? 'active' : ''" (click)="showCard('devs')">Add Developer</a>
            <a class="list-group-item list-group-item-action" [ngClass]=" card == 'cats' ? 'active' : ''" (click)="showCard('cats')">Add Category</a>
            <a class="list-group-item list-group-item-action"  routerLink="/account">Account</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-pane">
            <div class="card-body pb-2">
                <app-adminpurchases *ngIf="card == 'purchases'"></app-adminpurchases>
                <app-adminusers *ngIf="card == 'users'"></app-adminusers>
                <app-adminapps *ngIf="card == 'apps'" ></app-adminapps>
                <app-adminadddev *ngIf="card == 'devs'" ></app-adminadddev>
                <app-adminaddcat *ngIf="card == 'cats'" ></app-adminaddcat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

