<a  (click)="open(modal)"   class="site-btn" style="float: right; margin-bottom: 25px; color: white" > Add Developer</a>


<!--  Modal -->
<ng-template  #modal let-modal>
  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title">Create new Developer</h4>
    <button type="button" class="close"  (click)="modal.dismiss('Cross click')" >&times;</button>
  </div>

  <!-- Modal body -->
  <form [formGroup]="updateForm" (ngSubmit)="newDeveloper()">
    <div class="modal-body">

      <div class="form-group">
        <label >Name</label>
        <input #name type="text" placeholder="Developer name"  [(ngModel)]="newDev.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"/>
        <div *ngIf="f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Address</label>
        <input #address type="text" placeholder="Address"  [(ngModel)]="newDev.address" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': f.address.errors }"/>
        <div *ngIf="f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="form-group">
        <label >Email</label>
        <input #email type="text" placeholder="Email name"  [(ngModel)]="newDev.email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.errors }"/>
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="loading
        || f.name.errors || f.email.errors || f.address.errors" (click)="modal.close('Save click')" class="btn btn-outline-dark">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Add Developer</button>
    </div>
  </form>

</ng-template>

