<div style="display: flex; justify-content: center">
  <div>
    <h3>Write the developer name</h3>
    <br>
    <form [formGroup]="updateForm" (ngSubmit)="newDeveloper()">
      <div class="modal-body">

        <div class="form-group">
          <label >Name</label>
          <input #name type="text" placeholder="Developer name"  [(ngModel)]="newDev.name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': f.name.errors }"/>
          <div *ngIf="f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="loading || f.name.errors" class="btn btn-outline-dark">Add Developer</button>
      </div>
    </form>

  </div>
</div>

