<!-- Hero Section Begin -->
<section class="hero">

  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let prod of topProducts">
      <ng-template carouselSlide>
        <div class="hero__items"
          style="background-image: url('assets/img/banner/desk.jpg');background-repeat: no-repeat;background-size: cover;background-position: top center;"
        >
          <div class="container">
            <div class="row flex-wrap justify-content-around">
              <div>
                <div class="hero__text" style="margin-left: 15px">
                  <h6>{{ prod.developer.name }}</h6>
                  <h2>{{ prod.name }}</h2>
                  <p>{{
                    prod.description.length > 100
                      ? (prod.description | slice: 0:100) + "..."
                      : prod.description
                    }}</p>
                  <a routerLink="/shop/product/{{ prod.id }}/" class="primary-btn"
                  >Shop now <span class="arrow_right"></span
                  ></a>
                </div>
              </div>

              <div>
                <img
                  style="border-radius: 15px; margin-right: 15px; width: 300px; margin-top: auto"
                  src="{{ prod.icon }}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>


</section>
<!-- Hero Section End -->

<div style="height: 50px"></div>

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li [className]=" selected === 0 ? 'active' : ''" (click)="changeSelect(0)">All Featured</li>
          <li [className]=" selected === 1 ? 'active' : ''" (click)="changeSelect(1)">Best Sellers</li>
          <li [className]=" selected === 2 ? 'active' : ''" (click)="changeSelect(2)">New Arrivals</li>
        </ul>
      </div>
    </div>

    <div class="row product__filter">
      <ng-container *ngIf="selected === 0 || selected===1">
        <div
          *ngFor="let prod of topProducts"
          class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix best"
          routerLink="/shop/product/{{ prod.id }}/"
        >
          <div
            class="product__item sale"
          >
            <div
              class="product__item__pic bg-set"
              [ngStyle]="{ 'background-image': 'url(' + prod.icon + ')' }"
            ></div>
            <div class="product__item__text">
              <h6>{{ prod.name }}</h6>
              <a class="add-cart">{{
                prod.description.length > 30
                  ? (prod.description | slice: 0:30) + "..."
                  : prod.description
              }}</a>
              <div class="rating">
                <i
                  *ngFor="let x of [].constructor(prod.stars)"
                  class="fa fa-star"
                ></i>
                <i
                  *ngFor="let x of [].constructor(5 - prod.stars)"
                  class="fa fa-star-o"
                ></i>
              </div>
              <h5>{{ prod.price }} €</h5>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="selected === 0 || selected===2">
        <div
          *ngFor="let prod of newProducts"
          class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new"
          routerLink="/shop/product/{{ prod.id }}/"
        >
          <div
            class="product__item sale"
          >
            <div
              class="product__item__pic bg-set"
              [ngStyle]="{ 'background-image': 'url(' + prod.icon + ')' }"
            >
              <span class="label">New</span>
            </div>
            <div class="product__item__text">
              <h6>{{ prod.name }}</h6>
              <a class="add-cart">{{
                prod.description.length > 20
                  ? (prod.description | slice: 0:6) + ".."
                  : prod.description
              }}</a>
              <div class="rating">
                <i
                  *ngFor="let x of [].constructor(prod.stars)"
                  class="fa fa-star"
                ></i>
                <i
                  *ngFor="let x of [].constructor(5 - prod.stars)"
                  class="fa fa-star-o"
                ></i>
              </div>
              <h5>{{ prod.price }} €</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<!-- Product Section End -->

<br />
<br />
<br />
