<!-- Hero Section Begin -->
<section class="hero">
  <div *ngIf="topProducts" class="hero__slider owl-carousel">

    <div *ngFor="let prod of topProducts"  class="hero__items set-bg" data-setbg="assets/img/banner/desk.jpg">
      <div class="container">
        <div class="row -flex justify-content-between">
          <div class="col-xl-5 col-lg-6 col-md-6">
            <div class="hero__text" style="margin-left: 15px">
              <h6>{{ prod.developer.name }}</h6>
              <h2>{{ prod.name }}</h2>
              <p>{{ prod.description }}</p>
              <a routerLink="/shop/product/{{ prod.id }}/" class="primary-btn"
              >Shop now <span class="arrow_right"></span
              ></a>

            </div>
          </div>

          <div
            class="col-xl-5 col-lg-6 col-md-6 d-flex justify-content-center"
          >
            <img
              height="300px"
              style="border-radius: 15px; margin-right: 15px"
              src="{{ prod.icon }}"
              alt=""
            />
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<div style="height: 50px"></div>

<!-- Product Section Begin -->
<hr>
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">All Featured</li>
          <li data-filter=".best">Best Sellers</li>
          <li data-filter=".new">New Arrivals</li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">

      <div
        *ngFor="let prod of topProducts"
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix best"
        routerLink="/shop/product/{{ prod.id }}/"
      >

        <div [className]="prod.stars > 0 ? 'product__item sale' : 'product__item'">

            <div
              class="product__item__pic set-bg"
              data-setbg="assets/img/banner/desk.jpg"
            >

            </div>
            <div class="product__item__text" >
              <h6>{{ prod.name }}</h6>
              <a class="add-cart">{{ (prod.description.length>20)? (prod.description | slice:0:6)+'..':(prod.description) }}</a>
              <div class="rating">
                  <ng-template>
                  <i  class="fa fa-star"></i>
                  </ng-template>
                  <ng-template >
                    <i class="fa fa-star-o"></i>
                  </ng-template>
              </div>
              <h5>{{ prod.price }} €</h5>
            </div>
          </div>
        </div>
      </div>



    <div
      *ngFor="let prod of newProducts" class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new"
      routerLink="/shop/product/{{ prod.id }}/"
    >

      <div [className]="prod.stars > 0 ? 'product__item sale' : 'product__item'">


          <div
            class="product__item__pic set-bg"
            data-setbg="assets/img/banner/desk.jpg"
          >

            <span class="label">New</span>

          </div>
          <div class="product__item__text" >
            <h6>{{ prod.name }}</h6>
            <a class="add-cart">{{ (prod.description.length>20)? (prod.description | slice:0:6)+'..':(prod.description) }}</a>
            <div class="rating">
              <ng-template>
                <i  class="fa fa-star"></i>
              </ng-template>
              <ng-template>
                <i class="fa fa-star-o"></i>
              </ng-template>
            </div>
            <h5>{{ prod.price }} €</h5>
          </div>
        </div>
      </div>
    </div>

</section>


<!-- Product Section End -->

<br>
<br>
<br>
